/* line 2, ../sass/style.scss */
body {
  position: relative; }

/* line 5, ../sass/style.scss */
.navbar-brand {
  font-family: 'Satisfy', cursive;
}

<style>
.btn{
border-radius: 0;
}
.btn-md {
border-width: 0;
outline: none;
border-radius: 0;
box-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
cursor: pointer;
} 
</style>