{% extends 'blog/base.html' %}


{% block title %}{{ page.page_title }}{% endblock %}
{% block body %}
    {% for category in categories %}
        <div class="container">
            <ul class="list-unstyled">
                <li><a href="{% url 'page:post_by_category' category.slug %}">{{ category.name }}</a></li>
            </ul>
        </div>

        {% for page in category.page_set.all %}
            <ul class="list-unstyled">
                <li><a href="{% url 'page:page_detail' page.id %}">{{ page.page_title }}</a></li>
            </ul>
        {% endfor %}

    {% endfor %}
{% endblock %}
